body{
    margin: 0;
    padding: 0;
}
main{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100vh;
}
.background{
    background-image: url(https://i.ytimg.com/vi/n_KrxgXrU4w/maxresdefault.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
.back-color{
    background-color: rgba(0, 0, 0, 0, 5);
    width: 100%;
    height: 100vh;
    position: relative;
}
.row{
    position: absolute;
    width: 60%;
    height: 60vh;
    margin-top: 250px;
}
.col-60{
    width: 100%;
    padding: 30px;

}
.col-60 h2{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: yellowgreen;
    transition: all .5s;
}
.col-60 h2:hover{
    transform: scale(1.1);
}
.col-60 p{
    font-size: 3.5rem;
    margin-top: 20px;
    color:blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
}
.col-60 button{
    font-size: 1.1rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: azure;
    border-radius: 20px;
    padding: 10px 40px;
    border: none;
    font-weight: 700;
    transition: ease-in-out 1s;
}
.col-60 button:hover{
    color: azure;
    background-color: black;
    cursor: pointer;
    transform: translateX(50px);
}
.container .background .back-color .row .col-60 h2{
    margin: 0;
}